/* Custom properties/variables  */
:root {
--main-black: #0B0C10;
--dark-gray: #1F2833;
--light-gray: #C5C6C7;
--light-blue: #66FCF1;
--dark-blue: #45A29E;
}

/* Base reset */


* {
  margin: 0;
  padding: 0;
}

/* box-sizing and font sizing */


*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;

  /* Set font size for easy rem calculations
   * default document font size = 16px, 1rem = 16px, 100% = 16px
   * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
  */
  font-size: 62.5%;
  scroll-behavior: smooth;
}
/* A few media query to set some font sizes at different screen sizes.
 * This helps automate a bit of responsiveness.
 * The trick is to use the rem unit for size values, margin and padding.
 * Because rem is relative to the document font size
 * when we scale up or down the font size on the document
 * it will affect all properties using rem units for the values.
*/

/* I am using the em unit for breakpoints
 * The calculation is the following
 * screen size divided by browser base font size
 * As an example: a breakpoint at 980px
 * 980px / 16px = 61.25em
*/

/* 1200px / 16px = 75em */
@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
}

/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
  html {
    font-size: 55%;
  }
}

/* BASE STYLES*/
body{
  background-color: rgb(11,12,16);
  background-image: url("http://www.baltana.com/files/wallpapers-8/Geometric-Triangle-HD-Background-Wallpaper-24837.jpg");
  background-blend-mode:  soft-light;
  background-size: cover;

}

img{
  max-width: 50vw;
  max-height: 50vh;
}
a{

}

ul{

}

h1{
color: var(--light-blue);
text-align: center;
font-size: 25rem;
font-family: 'Bebas Neue', cursive;
font-kerning: 10rem;
text-shadow: .3rem .3rem .25rem var(--dark-blue);

}
p{
color: var(--light-gray);
text-align: center;
font-family: 'Bitter', serif;
font-size: 6rem;

margin-top: 7.5vh;

}

/* NAVBAR */
.nav{

  width: 100vw;
  top:0px;
  height: 10vh;
background-color: transparent;
display: flex;
flex-direction: row;
}
.nav-list{

  background-color: transparent;
  display: flex;
  flex-direction: row;
  margin:auto;

}

.nav-list a{
  font-family: 'Muli', sans-serif;
  font-size: 2.5rem;
  margin:1vw;
  text-shadow: 0rem .25rem .9rem var(--dark-blue);
color: var(--light-blue);
text-decoration: none;
}

.nav-list a:hover{

}

/* END OF NAVBAR */

/* WELCOME SECTION */

.welcome-section{
display: flex;
flex-direction: column;
margin-top:20vh;
align-items: center;

}

/* END OF WELCOME SECTION */
/* ABOUT ME*/

.innergrid{
  display: grid;
  grid-template-columns: 50vw 40vw;
  margin-left: 5vw;
  margin-right: 5vw;
  align-items: center;
  justify-content: center;


}
.innergrid p{
margin:auto;
  font-size: 2.4rem;
}
 .first-pic{
   width: 20vw;

   margin-left: 10vw;
   grid-row-start: 1;
   grid-column-start: 2;
   box-shadow: 0vw 1vw 4vw var(--dark-gray);

   padding:8px;
 border: 5px solid thick var(--dark-blue);
 background-color:var(--dark-gray);
 }

 .second-pic{
   width: 20vw;

   margin-left: 10vw;
   grid-row-start: 2;
   grid-column-start: 1;
   box-shadow: 0vw 1vw 4vw var(--dark-gray);

   padding:8px;
 border: 5px solid thick var(--dark-blue);
 background-color:var(--dark-gray);
 }
 .third-pic{
   width: 20vw;

   margin-left: 10vw;
   grid-row-start: 3;
   grid-column-start: 2;
   box-shadow: 0vw 1vw 4vw var(--dark-gray);

   padding:8px;
 border: 5px solid thick var(--dark-blue);
 background-color:var(--dark-gray);
 }
 .innergrid p{
   border-radius: 5px;
   border-style: solid;
   border-width: thin;
   border-color: var(--light-blue);

 }

/*END OF ABOUT ME*/

/*PROJECTS*/

.projects{

align-content: center;
  display: flex;
  flex-direction: row;



}

.projects {




}

.project-tile {
  margin: auto;
  align-items: center;
  max-width: 25vw;
  background-color: red;
  /*padding: 10vw;*/
text-align: center;
display: flex;
flex-direction: column;


}

.project-tile:hover {

}
.projects img{
max-width: 20vw;

}


.projects a{

}

/*END OF PROJECTS*/

/*CONTACT INFO*/

.contact-info{
margin-top: 10vh;
  display: flex;

  width: 100vw;
  height: 10vh;

  background-color: var(--dark-blue);
  text-align: center;
  box-shadow: 0rem -.3rem 1rem var(--dark-blue);


}

.contact-info-block {

margin: auto;

}


.contact-info a{

font-family: 'Muli', sans-serif;
font-size: 3rem;
color: var(--dark-gray);
text-decoration: none;
}


/* END OF CONTACT INFO */

/*FOOTER*/
