/* Custom properties/variables  */
:root {
  --dark-purple: #0C0032;
  --main-purple: #190061;
  --lighter-purple: #240090;
  --lightest-blue: #3500D3;
  --main-gray: #282828;
}

/* Base reset */


* {
  margin: 0;
  padding: 0;
}

/* box-sizing and font sizing */


*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;

  /* Set font size for easy rem calculations
   * default document font size = 16px, 1rem = 16px, 100% = 16px
   * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
  */
  font-size: 62.5%;
  scroll-behavior: smooth;
}
/* A few media query to set some font sizes at different screen sizes.
 * This helps automate a bit of responsiveness.
 * The trick is to use the rem unit for size values, margin and padding.
 * Because rem is relative to the document font size
 * when we scale up or down the font size on the document
 * it will affect all properties using rem units for the values.
*/

/* I am using the em unit for breakpoints
 * The calculation is the following
 * screen size divided by browser base font size
 * As an example: a breakpoint at 980px
 * 980px / 16px = 61.25em
*/

/* 1200px / 16px = 75em */
@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
}

/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
  html {
    font-size: 55%;
  }
}

/* BASE STYLES*/
body{
  background-color: var(--main-gray);
  color: white;
}
a{
  color: white;
}

ul{
  list-style: none;
}

h1{
  font-size: 10rem;
  font-family: 'Bangers', cursive;
}
p{
  font-size: 4rem;
  font-family: 'Bangers', cursive;

}

/* NAVBAR */
.nav{

  font-family: 'Bowlby One SC', cursive;
  background-color: var(--dark-purple);
  display: flex;
  justify-content: flex-end;
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  padding-right: 1rem;
  border-bottom: var(--main-purple) solid .1rem;
  box-shadow:  0 2px 0 rgba(0, 0, 0, 0.4)

}
.nav-list{
  display: flex;
  flex-direction: row-reverse;
  font-size: 1.8rem;

  text-align: center;



}

.nav-list a{
  display: block;
  text-decoration: none;
  padding: 2rem;
  height: 100%;
}

.nav-list a:hover{
  background-color: var(--lightest-blue);
}

/* END OF NAVBAR */

/* WELCOME SECTION */

.welcome-section{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin-top: 1.5rem;
  height: 100vh;
  text-align:center;
  background-color: var(--lightest-blue);
}

/* END OF WELCOME SECTION */

/*PROJECTS*/

.projects{
  height: 100vh;
  background-color: var(--default-gray);
  font-family: sans-serif;
  font-size: 1.5rem;
  font-weight: bolder;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: grid;
  grid-template-columns: 30vw 30vw 30vw;
  overflow: hidden;


}

.projects {




}

.project-tile {

display: flex;
flex-direction: column;
transition: all 1.5s linear;



}

.project-tile:hover {
  transform: scale(2);
}
.projects img{
  width: 80%;
  height: 80%;
  align-self: center;
}


.projects a{

  text-decoration: none;


}

/*END OF PROJECTS*/

/*CONTACT INFO*/

.contact-info{
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  display: flex;

  background-color:  var(--lighter-purple);

  min-height: 45vh;
  min-width: 100vh;

}

.contact-info-block {
  background-color: var(--main-gray);
  height:6rem;
  width: 33vh;
padding-top: 2rem;
  margin: auto;
  text-align: center;
  justify-content: center;

  border-radius: 0.5rem;


}

.contact-info-block:hover {


}
.tilt-left{
  transition: all 1s ease-out;
}

.no-tilt{
  transition: all 1s ease-out;
}

.tilt-right{
  transition: all 1s ease-out;
}

.tilt-left:hover{
    transform: scale(1.5) rotate(5deg);

}

.no-tilt:hover{
  transform: scale(1.5);
}

.tilt-right:hover{
  transform: scale(1.5) rotate(-5deg);
}


.contact-info a{
  text-decoration: none;
}


/* END OF CONTACT INFO */

/*FOOTER*/
